.feedback-card {
  margin: 20px;
  font-size: medium;
  background-color: black;
}

.feedback-card .card-footer {
  display: flex;
  margin-top: 10px;
  font-size: small;
}

.feedback-card .card-footer .date {
  margin-left: 10px;
  font-style: italic;
}
