.news-container {
  margin: 1%;
  background-color: rgba(82, 137, 255, 0.1);
  border: 1px solid rgba(156, 156, 156, 0.2);
  border-radius: 10px;
  height: fit-content;
  box-shadow: 5px 5px 5px -5px black;
}

.news-header {
  border-bottom: 1px solid rgba(156, 156, 156, 0.2);
  height: 20px;
  padding: 1%;
}

.news-author {
  float: left;
  font-weight: 600;
  font-size: 20px;
}

.news-date {
  float: right;
  font-weight: 600;
  font-size: 20px;
}

.news-body {
  padding: 1%;
  margin-bottom: 1%;
}

.news-post {
}
