body {
  --codecool-color-blue: #4287f5;
  --codecool-color-red: #d12b3c;
  --codecool-color-background: #e8f5fe;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

/* .wall {
  min-width: 110%;
  max-width: 100%;
}
 */